{{ define "main" }}
<section>
	<h1>{{ .Title }}</h1>
	<p>{{ .Content }}</p>

	<ul class="project-list">
		{{ range sort .Pages "Date" "desc" }}

		<li>
			<div>
                <h2 class="project-title">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title }} | {{ .Params.role }}
                    </a>
                </h2>
                <p>{{.Params.description}}</p>
            </div>
			{{ with .Resources.GetMatch "cover.*" }}
			<img
                src="{{ .RelPermalink }}"
                alt="{{ $.Title }}"
                class="thumbnail"
            />
			{{ end }}
		</li>

		{{ end }}
	</ul>
</section>
{{ end }}
