{{ define "main" }}
<div class="hero">

    <section class="fade-in-page">
        {{ partial "partials/projecthero.html" . }}
    </section>

    <section class="container">
        <h2>Selected works</h2>
        <ul class="project-list">

            {{ range sort .Pages ".Params.priority" "asc" }}

            {{/* {{ if not .Params.draft }} */}}

            <a href="{{ .RelPermalink }}">
                <li class="project-card">
                    <article class="scroll-fade-in">
                        <div>
                            <h2 class="project-title">
                                {{ .Title }} | {{ .Params.role }}
                            </h2>
                            <p class="description">{{.Params.description}}</p>
                            {{ if .Params.year }}
                            <p class="city">{{ .Params.year }} - {{.Params.city}}</p>
                            {{ else }}
                            <p class="city">{{.Params.city}}</p>
                            {{ end }}
                        </div>
                    </article>
                    {{ with .Resources.GetMatch "cover.*" }}
                    {{ $optimized := .Resize "600x webp q75" }}
                    <img src="{{ $optimized.RelPermalink }}" alt="{{ $.Title }}" class="thumbnail" width="{{ $optimized.Width }}" height="{{ $optimized.Height }}" />
                    {{ end }}
                </li>
            </a>

            {{/* {{ end }} */}}
            {{ end }}
        </ul>
    </section>
</div>
{{ end }}