{{/* Socials */}}
<div class="about__section scroll-fade-in">
    <div class="about__section-label">Find me</div>
    <div class="about__socials">
        {{/* Replace hrefs with your actual profile URLs */}}
        <a class="about__social-link" href="https://www.linkedin.com/in/n-adam" target="_blank"
            rel="noopener">LinkedIn</a>
        <a class="about__social-link" href="https://vimeo.com/adamnagy" target="_blank" rel="noopener">Vimeo</a>
        <a class="about__social-link" href="https://www.instagram.com/villanykorte" target="_blank"
            rel="noopener">Instagram</a>
        <a class="about__social-link" href="https://github.com/adamnnagy" target="_blank" rel="noopener">GitHub</a>
    </div>
</div>