<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ .Title }}</title>
		{{ $styles := resources.Get "css/main.scss" | css.Sass (dict
		"targetPath" "css/main.css" "outuptStyle" "compressed") |
		resources.Fingerprint }} {{ $js := resources.Get "js/main.js" |
		resources.Minify | resources.Fingerprint }}
		<link
			rel="stylesheet"
			href="{{ $styles.Permalink }}"
			integrity="{{ $styles.Data.Integrity }}"
		/>
		<link rel="icon" href="static/images/favicon.ico" />
	</head>
	<body>
		{{ partial "header.html" . }}
		<main>{{ block "main" . }}{{ end }}</main>
		{{ partial "footer.html" . }}
		<script
			src="{{ $js.Permalink }}"
			integrity="{{ $js.Data.Integrity }}"
			crossorigin="anonymous"
		></script>
	</body>
</html>
