{{ define "main" }}
{{ partial "partials/projecthero.html" (dict 
"hero" .Params.hero
"projectDir" .File.Dir
"title" .Params.title
"role" .Params.role

) }}

<article class="container scroll-fade-in">


    {{/*  {{ if .Params.role }}
    <h1>{{ .Params.title }} | {{ .Params.role }}</h1>
    {{ else }}
    <h1>{{ .Title }}</h1>
    {{ end }}  */}}

    {{/*  <p>{{ .Params.description }}</p>
    <hr>  */}}
    {{ .Content }}

    <footer>
  <a href="#top">Back to top</a>
</footer>
</article>

{{ end }}