$primary-color: #222d35;
$secondary-color: #eeeeee;
$text-color: #fff;

	
$title-font: "Inter", sans-serif;
$regular-font: Arial, Helvetica, sans-serif;

// for scroll animations

:root {
	--scroll-primary-color: #303f49;
	--scroll-secondary-color: #ffffff;
}

$film-frame-contrast: 0.8;

$gallery-background-color: #192126;

