$primary-color: #131415;
$secondary-color: #f4f4f4;
$text-color: #fff;

// for scroll animations

:root {
	--scroll-primary-color: #303f49;
	--scroll-secondary-color: #ffffff;
}

$film-frame-contrast: 0.8;

$gallery-background-color: #192126;

// paddings

$padding-horizontal-tablet-up: 8rem;
$padding-horizontal-tablet-down: 4rem;

$uniform-padding-tablet-up: 1.5rem $padding-horizontal-tablet-up;
$uniform-padding-tablet-down: 2rem $padding-horizontal-tablet-down;

$nav-padding-tablet-up: 1rem $padding-horizontal-tablet-up;
$nav-padding-tablet-down: 1rem $padding-horizontal-tablet-down;

$footer-padding-tablet-up: 1rem $padding-horizontal-tablet-up;
$footer-padding-tablet-down: 1rem $padding-horizontal-tablet-down;
// $nav-padding: 0rem 5rem;
$hero-banner-margin-bottom: 1.5rem; // use same value as $uniform-padding
// $site-nav-height: 1.5rem;
