$primary-color: #131415;
$secondary-color: #f4f4f4;
$text-color: #fff;

// for scroll animations

:root {
	--scroll-primary-color: #303f49;
	--scroll-secondary-color: #ffffff;
}

$film-frame-contrast: 0.8;

$gallery-background-color: #192126;

// heights

$uniform-padding: 3rem 0rem;
$hero-banner-margin-bottom: 1.5rem; // use same value as $uniform-padding
$site-nav-height: 1.5rem;
