@import "variables";
@import "mixins";

// 2. Components
@import "components/audio-player";
@import "components/film-strip-gallery";
@import "components/site-nav";
@import "components/hero-banner";
@import "components/contact-form";
@import "components/film-strip-gallery";
@import "components/project-list";

// 3. Page Specific Styles (if any)

* {
	color: $text-color;
}

body {
	background-color: $primary-color;
	color: darken($primary-color, 100%);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

p {
	font-size: large;
}

.container {
	padding: 0;

	width: 50%;

	@media (max-width: 1200px) {
		width: 70%;
	}

	margin: 0 auto;
	@media (max-width: 600px) {
		width: 80%;
	}
}

section {
	// padding: 2rem;
	margin: 0 auto;
	// max-width: 1200px;
}

a {
	color: $text-color;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 2rem;
	li {
		list-style: none;
	}
}

.home-projects {
	h1 {
		margin: 0;
		padding: 0;
	}
	.projects {
		// width: 80%;
		// margin: 50px 0;
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		@media screen and (max-width: 1200px) {
			grid-template-columns: 1fr;
		}

		.project {
			padding: 2rem;
			// background-color: $secondary-color;
			position: relative;
			z-index: 0;
			color: $text-color;

			.content {
				text-align: center;

				.title {
					position: absolute;
					top: 42%;
					left: 50%;
					transform: translate(-50%, -58%);
					padding: 0;
					margin: 0;
					text-transform: uppercase;
					font-size: 2rem;
				}

				.role {
					position: absolute;
					top: 12%;
					left: 50%;
					transform: translate(-50%, -88%);
					padding: 0;
					margin: 0;
					font-size: 1rem;
				}

				.description {
					position: absolute;
					top: 80%;
					left: 50%;
					transform: translate(-50%, -20%);
					padding: 0;
					margin: 0;
					font-size: 1rem;
					font-style: italic;
				}
			}

			img {
				position: absolute;
				object-fit: cover;
				width: 100%; /* Make the image fill the container's width */
				height: auto; /* Let the height adjust automatically to maintain aspect ratio */
				aspect-ratio: 27 / 40; /* Modern CSS property for aspect ratio */
				top: 0;
				left: 0;
				z-index: -1;
			}
			.image-hover {
				transition: filter 0.3s ease;
				position: relative;
				display: inline-block;
				overflow: hidden;
				filter: grayscale(50%) brightness(0.6);
			}
			.image-hover:hover {
				filter: grayscale(0%) brightness(1.2) contrast(1);
			}
		}
	}
}
