.hero-banner {
	position: relative;
	// width: calc(100%-2rem);
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 2rem; // space below text
	color: white;

	margin-bottom: $hero-banner-margin-bottom; // space below banner

	.background {
		@include absolute-cover;
		@include gradient-overlay(to top, rgba(0, 0, 0, 0.783));
		z-index: 1;
	}

	.video {
		@include absolute-cover;
		object-fit: cover;
		z-index: 0;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.246),
			transparent
		);
		z-index: 1;
	}

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 1200px;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 2;

		> * {
			opacity: 1;
		}

		p {
			font-style: italic;
			margin: 0;
			padding: 0;
		}

		.roles {
			font-feature-settings: "zero", "ss01", "tnum";
			font-size: 4rem;
			text-align: left;
		}

		.title {
			@include title-text;
			font-size: 7rem;

			span {
				// font-style: italic;
				// letter-spacing: 2rem;
			}
		}

		@media (min-width: 1280px) {
			display: flex;
			flex-direction: column;
			// gap: 2rem;

			.hero-title {
				font-size: 30rem;
				text-wrap-mode: nowrap;
			}

			p {
				font-size: 1.5rem;
				text-wrap-mode: nowrap;
			}
		}
	}

	@include desktop {
		height: calc(100vh - var(--nav-height, 200px));
	}

	@include mobile {
		height: Max(50vh, 400px); // Adjust height as needed
	}
}


// 