.hero-banner {
	position: relative;
	// width: calc(100%-2rem);
	height: 50vh; // Adjust height as needed
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 2rem; // space below text
	color: white;

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.783),
			rgba(0, 0, 0, 0.3),
			transparent
		);
		z-index: 1;
	}

	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.246),
			transparent
		);
		z-index: 1;
	}

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: 1200px;
		transform: translate(-50%, -50%);
		text-align: center;
        z-index: 2;

		> * {
			opacity: 1;
		}

		p {
			font-style: italic;
			margin: 0;
			padding: 0;
		}

		.roles {
		}

		.title {
			font-size: 7rem;
			text-transform: uppercase;
			margin: 0;
			padding: 0;

			span {
				font-style: italic;
				// letter-spacing: 2rem;
			}
		}

		@media (min-width: 1920px) {
			display: flex;
			align-items: baseline;
			gap: 2rem;

			.hero-title {
				font-size: 30rem;
				text-wrap-mode: nowrap;
			}

			p {
				font-size: 2rem;
				text-wrap-mode: nowrap;
			}
		}
	}
}
