.home-projects {

	
	h1 {
		margin: 0;
		padding: 0;
	}
	.projects {
        @include reset-spacing;
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;

		@include tablet {
			grid-template-columns: 1fr;
		}

		.project-card {
			position: relative;
			z-index: 0;
			color: $text-color;

			.content {
				text-align: center;

				.title {
					position: absolute;
					top: 42%;
					left: 50%;
					transform: translate(-50%, -58%);
					padding: 0;
					margin: 0;
					text-transform: uppercase;
					font-size: 2rem;
				}

				.role {
					position: absolute;
					top: 12%;
					left: 50%;
					transform: translate(-50%, -88%);
					padding: 0;
					margin: 0;
					font-size: 1rem;
				}

				.description {
					position: absolute;
					top: 80%;
					left: 50%;
					transform: translate(-50%, -20%);
					padding: 0;
					margin: 0;
					font-size: 1rem;
					font-style: italic;
				}
			}

			img {
				position: absolute;
				object-fit: cover;
				width: 100%; /* Make the image fill the container's width */
				height: auto; /* Let the height adjust automatically to maintain aspect ratio */
				aspect-ratio: 27 / 40; /* Modern CSS property for aspect ratio */
				top: 0;
				left: 0;
				z-index: -1;
			}
			.image-hover {
				transition: filter 0.3s ease;
				position: relative;
				display: inline-block;
				overflow: hidden;
				filter: grayscale(50%) brightness(0.6);
			}
			.image-hover:hover {
				filter: grayscale(0%) brightness(1.2) contrast(1);
			}
		}
	}
}
