{{/* Header: name + tagline + locations */}}
<div class="about__header scroll-fade-in">
    <div class="about__name">
        Ádám.<br>
        <em>feltörekvő</em><br>
        zenész.
    </div>
    <div>
        <p class="about__tagline">
            budapesti<br>
            gitáros · énekes · dalszerző
        </p>
        <div class="about__geo">
            <span class="about__geo-dot about__geo-dot--home">Szóló</span>
            <span class="about__geo-dot">Perkupa</span>
            <span class="about__geo-dot">Kiel Winde</span>
            <span class="about__geo-dot">Juhász Zoli</span>
        </div>
    </div>
</div>