<meta charset="UTF-8" />
<title>{{ .Title }}</title>

<link rel="icon" href="{{ "favicons/favicon.ico" | relURL }}" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicons/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicons/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicons/favicon-16x16.png" | relURL }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ "favicons/android-chrome-192x192.png" | relURL }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ "favicons/android-chrome-512x512.png" | relURL }}">
<link rel="manifest" href="{{ "favicons/site.webmanifest" | relURL }}">

{{ $styles := resources.Get "/css/main.scss" | css.Sass (dict
"targetPath" "/css/main.css" "outuptStyle" "compressed") |
resources.Fingerprint }}


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>

@font-face {
    font-family: 'Inter';
    src: url('{{ "fonts/InterVariable.ttf" | relURL }}') format("truetype-variations");
    font-weight: 100 900;
    font-display: swap;
}


</style>
<link rel="stylesheet" href="{{ $styles.Relpermalink }}" integrity="{{ $styles.Data.Integrity }}" />
<link rel="icon" href="static/images/favicon.ico" />