<section class="hero-banner fade-in-page">
    
    <video autoplay muted loop playsinline class="video">
        {{/* construct path manually to avoid inconsistent behavior with relURL/absURL when relativeURLs is true */}}
        {{ $src := path.Join .projectDir .hero }}
        <source src="{{ .Site.BaseURL | absLangURL }}{{ $src }}" type="video/mp4">
        
        Your browser does not support the video tag.
    </video>
    <div class="background"></div>
    <div class="content">
        <h1 class="title">{{.title}}</span></h1>
        <div class="roles">
            <h2>{{ .role }}</h2>
        </div>
    </div>
</section>