{{define "main"}}

<div class="fade-in-page">

    {{ partial "home/hero.html" . }}
</div>
<div class="container">
    <section>{{ partial "home/intro.html" . }}</section>

    <section>{{ partial "home/showreel.html" .}}</section>

    <section class="scroll-fade-in">{{ partial "home/projects.html" . }}</section>
    {{/* <section class="scroll-fade-in">{{ partial "home/workflow.html" . }}</section> */}}
    <section class="scroll-fade-in">{{ partial "home/contact.html" . }}</section>
</div>
{{ end }}