<section id="contact" class="contact-section">
  <h2>Contact Me</h2>
  <form method="POST" action="https://formspree.io/f/mnnjgegq">
    <label>Name:
      <input type="text" name="name" required placeholder="Steven Spielberg">
    </label>
    <label>Email:
      <input type="email" name="_replyto" required placeholder="steve@cinema.com">
    </label>
    <label>Message:
      <textarea name="message" rows="5" placeholder="Hey, I have some feedback on the edit you sent..." required></textarea>
    </label>
    <button type="submit">Send</button>
  </form>
</section>