<section>
    <h1>Film strip</h1>
    <div class="auto-scroll-gallery">
        {{/*  <div class="reel-edge reel-left"></div>  */}}
        <div class="gallery-strip">
            {{ $globalIndex := 0 }}
            {{ range $index, $item := where .Site.RegularPages "Type" "projects" }}
            {{ $mediaItems := .Resources.Match "*.mp4" }}
            {{ range $mediaItems }}
                <div class="film-frame" data-frame="{{ printf " %03d" $globalIndex }}">
                <p class="name">{{ .Name }}</p>
                {{ if eq .MediaType.SubType "mp4" }}
                <video autoplay muted loop playsinline>
                    <source src="{{ .RelPermalink }}" type="video/mp4" />
                </video>
                {{ else if in (slice "jpg" "jpeg" "png" "webp") .MediaType.SubType }}
                <img src="{{ .RelPermalink }}" alt="{{ .Name }}">
                {{ end }}
            </div>
            
            {{ $globalIndex = add $globalIndex 1 }}

            {{ end }}

            {{ end }}
            
        </div>
        {{/*  <div class="reel-edge reel-right"></div>  */}}
    </div>
</section>

<script defer>

    document.addEventListener("DOMContentLoaded", function () {

        const gallery = document.querySelector('.gallery-strip');

        let isUserScrolling = false;

        gallery.addEventListener('wheel', () => isUserScrolling = true);
        gallery.addEventListener('touchstart', () => isUserScrolling = true);
        gallery.addEventListener('mouseenter', () => isUserScrolling = true);
        gallery.addEventListener('mouseleave', () => isUserScrolling = false);

        if (gallery) {
            let scrollSpeed = 2;

            function autoScroll() {
                if (!isUserScrolling) {
                    gallery.scrollLeft += scrollSpeed;

                    if (gallery.scrollLeft + gallery.clientWidth >= gallery.scrollWidth) {
                        gallery.scrollLeft = 0;
                    }
                }

                requestAnimationFrame(autoScroll);
            }

            autoScroll();
        }
    });

</script>