<section class="auto-scroll-gallery">
    <h1>gallery</h1>
	<div class="gallery-strip">

		{{ range where .Site.RegularPages "Type" "projects" }}

        {{ $media := .Resources.Match "*.*" }}

            {{ range $media }}

                {{ if eq .MediaType.SubType "mp4" }}
                    <video autoplay muted loop playsinline>
                <source src="{{ .RelPermalink }}" type="video/mp4" />
            </video>
                {{ else if in (slice "jpg" "jpeg" "png" "webp") .MediaType.SubType }}
                    <img src="{{ .RelPermalink }}" alt="{{ .Name }}">
                {{ end }}

            {{ end }}
        
        {{ end }}
	</div>
</section>
