<section class="hero-banner">
    <video autoplay muted loop playsinline class="video" poster="images/hero.png">
        <source src="{{ .Site.Params.heroVideo | relURL }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="background"></div>
    <div class="content">
        <h1 class="hero-title">Ádám <span>Nagy</span></h1>
        <div class="roles">
            <p><code>00:00:00</code> Filmmaker</p>
            <p><code>00:00:01</code> Editor</p>
            <p><code>00:00:02</code> Musician</p>
            <p><code>00:00:03</code> Creative Coder</p>
        </div>
    </div>
</section>