<div class="intro-section">

    <div class="content">
        <h1 class="scroll-color-text">
            Ádám Nagy is an Editor, Videographer, and Musician based in Budapest, Hungary.
        </h1>

        <ul>

            <li>Adam Nagy is Hungarian.</li>
            <li>Adam Nagy is an artist.</li>
            <li>Adam Nagy believes that everyone is an artist, only some never realize that they are making art.</li>
            <li>Adam Nagy could be considered to be a hipster but Adam Nagy doesn’t believe in labels.</li>
            <li>Adam Nagy lives in a reality that fascinates itself with by coming up with new labels.</li>
            <li>Adam Nagy has made a Virtual Reality experience called “Free Shipping” where only labels exist.</li>
            <li>Adam Nagy overthinks things, like what does it feel like to be Adam Nagy.</li>
            <li>To create bridges between people Adam Nagy makes videos and music.</li>
            <li>Adam Nagy challenges you to pronounce his last name, but he is okay with you calling him Ne-ghi.</li>

        </ul>


        {{ with site.GetPage "sections/intro" }}
        {{ .Content }}
        {{ end }}
    </div>
    
</div>