<div class="screenplay">
    <p class="screenplay__scene-heading">INT. ADAM'S ROOM. DAY.</p>
    <p class="screenplay__action">Adam is working on his laptop. MANAGER walks in. She glances at the COMPUTER.</p>
    <p class="screenplay__character">MANAGER</p>
    <p class="screenplay__dialogue">Adam. When are you going to choose one interest, one career?</p>
    <p class="screenplay__action">ADAM sighs.</p>
    <p class="screenplay__character">ADAM</p>
    <p class="screenplay__dialogue">When I stop being good at all of them!</p>
</div>
