<h1>Featured</h1>
<div class="home-projects">
    <ul class="projects">
        {{ range first 4 (sort (where .Site.RegularPages "Type" "projects") "Params.priority" "desc") }}

        {{ if .Params.featured }}

        <li>
            <article class="scroll-fade-in">
                <a href="{{ .RelPermalink }}">
                    <div class="project-card">
                        <div class="content">
                            <h3 class="role">{{ .Params.role }}</h3>
                            <h1 class="title">{{ .Title }}</h1>
                            <p class="description">{{ .Params.description }} <br>
                                <i>{{ .Params.city }}</i>
                            </p>
                        </div>

                        {{ $video := .Resources.GetMatch "cover.mp4" }}
                        {{ $poster := .Resources.GetMatch "cover.png" }}

                        <div class="video-container image-hover">
                            {{ if $video }}
                            <video
                                class="thumbnail "
                                {{ with $poster }}poster="{{ .RelPermalink }}"{{ end }}
                                autoplay loop muted playsinline>
                                <source src="{{ $video.RelPermalink }}" type="video/mp4">
                            </video>
                            {{ else if $poster }}
                            {{ with .Resources.GetMatch "cover.png" }}
                            <img src="{{ .RelPermalink }}" alt="{{ $.Title }}" class="thumbnail image-hover" />
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </a>
            </article>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>