<h1>Featured projects</h1>
<div class="home-projects">
    <ul class="projects">

        {{ $projects := where .Site.RegularPages "Type" "projects" }}
        {{ $featured := where $projects "Params.featured" true }}
        {{ $sorted := sort $featured "Params.priority" "asc" }}
        {{ $top := first 4 $sorted }}

        {{ range $top }}

        <li>
            <article class="scroll-fade-in">
                <a href="{{ .RelPermalink }}">
                    <div class="project-card">
                        <div class="content">
                            <div class="main-text">
                                <h1 class="title">{{ .Title }}</h1>
                                <h3 class="role">{{ .Params.role }}</h3>
                            </div>
                            <p class="description">{{ .Params.description }} <br>
                                <i>{{ .Params.city }}</i>
                            </p>
                        </div>

                        {{ $video := .Resources.GetMatch "cover.mp4" }}
                        {{ $poster := .Resources.GetMatch "cover.png" }}
                        {{ if not $poster }}
                        {{ $poster = .Resources.GetMatch "cover.jpg" }}
                        {{ end }}
                        {{ if not $poster }}
                        {{ $poster = .Resources.GetMatch "cover.jpeg" }}
                        {{ end }}

                        <div class="video-container image-hover">
                            {{ if $video }}
                            {{ with $poster }}
                            <video class="thumbnail " poster="{{ (.Resize " 600x webp q75").RelPermalink }}" autoplay
                                loop muted playsinline>
                                <source src="{{ $video.RelPermalink }}" type="video/mp4">
                            </video>
                            {{ else }}
                            <video class="thumbnail " autoplay loop muted playsinline>
                                <source src="{{ $video.RelPermalink }}" type="video/mp4">
                            </video>
                            {{ end }}
                            {{ else if $poster }}
                            <img src="{{ ($poster.Resize " 600x webp q75").RelPermalink }}" alt="{{ $.Title }}"
                                class="thumbnail image-hover" />
                            {{ end }}
                        </div>
                    </div>
                </a>
            </article>
        </li>
        {{ end }}
    </ul>

    <a href="{{ "projects/" | relURL }}">
        <h2 class="learn-more-link">more projects</h2>
    </a>
</div>